* {
  margin: 0; }

body {
  font-family: "Calibri", sans-serif; }

h2 {
  margin: 10px;
  padding: 5px 10px;
  background-color: #f79237; }

h3 {
  background-color: #f79237;
  padding: 10px; }

a {
  color: #000000;
  text-decoration: none; }

.mere {
  text-decoration: underline; }

header {
  background-color: #e6e6e6;
  border-bottom: solid;
  border-width: 5px;
  border-color: #185970; }
  header figure #logo {
    width: 30%;
    min-width: 100px;
    max-width: 180px;
    margin: 10px; }

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41; }

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee; }

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px; }

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none; }

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline; }

footer {
  background-color: #e6e6e6;
  border-top: solid;
  border-width: 5px;
  border-color: #185970;
  display: flex;
  justify-content: space-between; }
  footer .site_map {
    margin: 10px; }
  footer .social {
    margin: 5px;
    display: flex;
    justify-content: flex-end; }
    footer .social img {
      max-width: 50px;
      max-height: 50px;
      margin: 5px; }

.valg {
  max-width: 30%;
  min-width: 28%;
  padding: 10px;
  margin: 0 10px 5px 10px;
  background-color: #87aa44;
  color: #FFFFFF; }

.valg3 {
  display: flex;
  justify-content: space-between; }

.liste {
  margin: 5px; }

.event {
  background-color: #e6e6e6;
  margin: 5px; }
  .event .thumb img {
    width: 100%; }
  .event p {
    margin: 10px; }
  .event .mere {
    margin: 10px; }
  .event .tekst {
    display: flex;
    justify-content: space-between;
    margin: 5px; }
    .event .tekst .sted {
      background-color: #185970;
      color: #ffffff;
      padding: 10px;
      margin: 5px;
      width: 50%; }
    .event .tekst .buy {
      display: flex;
      align-items: center;
      background-color: #87aa44;
      color: #ffffff;
      padding: 10px;
      margin: 5px;
      width: 50%; }

#feltet {
  margin: 10px 0px; }

.felt {
  background-color: #185970;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center; }

* {
  box-sizing: border-box; }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

@media screen and (min-width: 600px) {
  h2 {
    max-width: 96%;
    min-width: 96%; }

  .valg3 {
    max-width: 96%;
    min-width: 96%; }

  .liste {
    display: flex;
    flex-wrap: wrap; }

  .event {
    min-width: 48%;
    max-width: 48%; }

  @supports (grid-area: auto) {
    #musik {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: "head head" "bread bread" "h2 h2" "valg valg" "liste liste" "foot foot"; }

    header {
      grid-area: head; }

    .breadcrumb {
      grid-area: bread; }

    h2 {
      grid-area: h2; }

    .valg3 {
      grid-area: valg; }

    .liste {
      grid-area: liste; }

    footer {
      grid-area: foot; } } }
@media screen and (min-width: 1366px) {
  h2 {
    max-width: 96.5%;
    min-width: 96.5%; }

  .event {
    min-width: 32%;
    max-width: 32%;
    margin: 5px; }

  .valg {
    min-width: 32.25%;
    max-width: 32.25%; }

  .valg3 {
    min-width: 96.5%;
    max-width: 96.5%; }

  @supports (grid-area: auto) {
    #musik {
      display: grid;
      grid-template-columns: 15% 70% 15%;
      grid-template-areas: "head head head" "bread bread bread" ". h2 ." ". valg ." ". liste ." "foot foot foot"; }

    header {
      grid-area: head; }

    .breadcrumb {
      grid-area: bread; }

    h2 {
      grid-area: h2; }

    .valg3 {
      grid-area: valg; }

    .liste {
      grid-area: liste; }

    footer {
      grid-area: foot; } } }

/*# sourceMappingURL=styles.css.map */
